git/.config/git/credentials
gtk/.config/gtk-2.0/gtkfilechooser.ini
gtk/.config/gtk-3.0/bookmarks
mopidy/.config/mopidy/podcast
neovim/.config/nvim/lua/packer_compiled.lua
neovim/.config/nvim/.netrwhist
themix/.config/oomox/*.json
thunar/.config/Thunar/accels.scm
thunar/.config/Thunar/renamerrc
oomox/.config/oomox/recent_palette.json
oomox/.config/oomox/ui_config.json
